UsePAM no

Match User chat
	PasswordAuthentication yes
	PermitEmptyPasswords yes
	ChrootDirectory /home/chat
	ForceCommand chatte

	AllowAgentForwarding no
	AllowTcpForwarding no
	AllowStreamLocalForwarding no
	MaxSessions 1
	X11Forwarding no
